<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomecabello.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pokemon App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Pokemon app"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name=".provider.PokemProvider"
            android:authorities="com.example.tomecabello.myapplication.provider"
            android:exported="false" />

        <activity
            android:name=".DetallesActivity"
            android:label="@string/title_activity_detalles"
            android:screenOrientation="portrait"

            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tomecabello.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".PokeActivity"
            android:label="@string/title_activity_poke"
            android:screenOrientation="portrait"

            android:parentActivityName=".DetallesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tomecabello.myapplication.DetallesActivity" />
        </activity>
        <activity
            android:name=".CombatActivity"
            android:label="@string/title_activity_combat"
            android:screenOrientation="portrait"

            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tomecabello.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Equipo2Activity"
            android:label="@string/title_activity_equipo2"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
